{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block body %}

    <h2 id="title_contact" style="margin-top:120px" >Bienvenue dans la section contact.</h2>

    <p>Veuillez remplir le formulaire ci-dessous, merci de respecter les Conditions Général d'utilisation (<a href="{{ path('cgu') }}">voir ici</a>).</p>


{% if notif is not empty %}
	<div class="alert alert-success" role="alert">
		{{ notif }}
	</div>
{% endif %}

{{ form(formulaire) }}
{% endblock %}